__pycache__/
.pytest_cache/
.venv/
venv/
*.pyc
*.pyo
*.db
*.sqlite*
/data/*
/models/*
/polyfolds/legacy/*
/polyfolds/legacy/dataset_dodeca/*
/polyfolds/legacy/dataset_hexa/*
/polyfolds/legacy/dataset_icosa/*
/polyfolds/legacy/dataset_octa/*
/polyfolds/legacy/dataset_tetra/*
/data/canonical_core/
/models/*.pt
/models/*.pth
/models/*.json
